<div class =  "bookInfo">
				<h1><b>Profile/Bio:</b></h1>  
				
				
<h1>Name: <%= @user.name %></h1>
<h3>Bio:</h3> <h4><%= @user.author_bio %></h4>
<br>
<br>
<div class = "links btn-group">


<%= link_to 'Back', url_for(:back) %>
</div>

</div>








