<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
<div id = "form_rating">
<label>Rating</label>
</div>
<br>
<%= f.input :comment %>
<%= f.button :submit, :class => "btn-custom2" %>

<% end %>

<script type="text/javascript">
$('#form_rating').raty({
	path: '/assets',
	scoreName: 'review[rating]'
});
</script>




